[% PROCESS header.tt title="STEDT Database: Records with deviant glosses" %]

<table>
<tr><th>Deviant Type</th><th>Num of records</th></tr>
[% FOREACH k IN deviants.keys -%]
<tr><td>[% k %]</td><td><a href="[% self_url %]/edit/lexicon?lexicon.gloss=[% "*" _ deviants.$k.regex | url %]" target="stedt_lexicon">[% deviants.$k.count %]</a></td></tr>
[% END %]
</table>

</body>
</html>